body {
  color: rgb(135, 135, 135);
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  line-height: 28px;
  color: rgb(135, 135, 135);
  margin: 0;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  max-width: 600px;
  border-radius: 10px;
}
.temp {
  color: rgb(35, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  top: -34px;
}
.weather-icon {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
